<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios - Semana {{ .Week.WeekID }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .table-sm td, .table-sm th {
            padding: 0.3rem;
        }
        table {
            font-size: 0.9rem;
        }
        .cell, .editable-cell {
            background-color: white; /* Color inicial de las celdas */
        }
        .btn-primary { margin-left: 0.5rem; }
        .center-table { margin: 0 auto; width: 30%; }


        /* Color para las celdas seleccionadas */
        .selected { background-color: rgb(190, 190, 190) !important; }

        /* Color del fondo de la tabla de resumen */
        .highlight-red { background-color: #ffcccc !important; } /* Rojo pastel */
        .highlight-green { background-color: #ccffcc !important; } /* Verde pastel */

        /* Color de la tienda de Calle Barcelona */
        .btn-barcelona { background-color: rgb(213, 64, 64); color: white; }

        /* Color de la tienda de Plaza de Lugo */
        .btn-lugo { background-color: rgb(34, 139, 34); color: white; }

        /* Color de la tienda de Calle Real */
        .btn-real { background-color: rgb(64, 64, 191); color: white; }

        /* Color de la tienda de Avenida Finisterre */
        .btn-finisterre { background-color: rgb(210, 105, 30); color: white; }

        /* Color de la tienda de Avenida de Oza */
        .btn-oza { background-color: rgb(0, 191, 255); color: white; }

        /* Color de la tienda de Cuatro Caminos */
        .btn-caminos { background-color: rgb(255, 215, 0); color: black; }

        /* Color de la tienda de los Mallos */
        .btn-mallos { background-color: rgb(70, 130, 180); color: white; }

        /* Color de la tienda de Gran Canaria */
        .btn-canarias { background-color: rgb(148, 0, 211); color: white; }

        /* Color de la tienda de Juan Florez */
        .btn-juanflo { background-color: rgb(60, 179, 113); color: white; }

        /* Color de la tienda de San Andrés */
        .btn-sanandres { background-color: rgb(139, 69, 139); color: white; }

        /* Color para los días libres */
        .btn-libre { background-color: rgb(60, 60, 60); color: white; }

        /* Color blanco */
        .btn-blanco { background-color: rgb(248, 249, 250); color: black; }

    </style>
</head>
<body class="bg-light">
    <div class="d-flex container-fluid mt-5 justify-content-between align-items-center">
        <h1 class="my-4">Semana del {{ .Week.Start }}</h1>
        <div>
            <select id="filter-select" class="form-control" style="width: 150px;" multiple="multiple" onchange="filterWorkers()">
                {{range .Stores}}
                <option value="{{ . }}">{{ . }}</option>
                {{end}}
            </select>
            <button id="export-button" class="btn btn-primary">Exportar a PDF</button>
            <a href="/admin/calendar" class="btn btn-secondary text-white px-3">Volver</a>

        </div>
    </div>
    <div class="container-fluid mt-5">
        <!-- Botones para seleccionar colores -->
        <div id="export-container">
            <div class="d-flex justify-content-between mb-4">
                <button class="btn btn-barcelona" onclick="changeColor('rgb(213, 64, 64)', 'btn-barcelona')">Barcelona</button>
                <button class="btn btn-lugo" onclick="changeColor('rgb(34, 139, 34)', 'btn-lugo')">Lugo</button>
                <button class="btn btn-real" onclick="changeColor('rgb(64, 64, 191)', 'btn-real')">Real</button>
                <button class="btn btn-finisterre" onclick="changeColor('rgb(210, 105, 30)', 'btn-finisterre')">Finisterre</button>
                <button class="btn btn-oza" onclick="changeColor('rgb(0, 191, 255)', 'btn-oza')">Oza</button>
                <button class="btn btn-caminos" onclick="changeColor('rgb(255, 215, 0)', 'btn-caminos')">4 Caminos</button>
                <button class="btn btn-mallos" onclick="changeColor('rgb(70, 130, 180)', 'btn-mallos')">Mallos</button>
                <button class="btn btn-canarias" onclick="changeColor('rgb(148, 0, 211)', 'btn-canarias')">Gran Canaria</button>
                <button class="btn btn-juanflo" onclick="changeColor('rgb(60, 179, 113)', 'btn-juanflo')">Juan Florez</button>
                <button class="btn btn-sanandres" onclick="changeColor('rgb(139, 69, 139)', 'btn-sanandres')">San Andrés</button>
                <button class="btn btn-libre" onclick="changeColor('rgb(60, 60, 60)', 'btn-libre')">Libre</button>
                <button class="btn btn-blanco" onclick="changeColor('rgb(255, 255, 255)', 'btn-blanco')">Nada</button>      
            </div>
            <div class="table-container">
                {{range $dayIndex, $day := .Days}}
                <h2 class="text-center mt-5">{{ $day }}</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Trabajador</th>
                                {{range $.Intervals}}
                                <th>{{ . }}</th>
                                {{end}}
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="worker-rows">
                            {{range $worker := $.Workers}}
                            <tr class="worker-row" data-store="{{ $worker.Store }}" data-worker-name="{{ $worker.Name }}">
                                <td>{{ $worker.Name }}</td>
                                {{range $interval := $.Intervals}}
                                <td class="editable-cell"
                                    data-worker-id="{{ $worker.ID }}"
                                    data-interval="{{ $interval }}"
                                    data-day-index="{{ $dayIndex }}">
                                </td>
                                {{end}}
                                <td class="total-cell" data-worker-id="{{ $worker.ID }}" data-day-index="{{ $dayIndex }}"></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{end}}
            </div>
        </div>
        <!-- Tabla resumen -->
        <h2 class="text-center mt-5">Resumen Semanal</h2>
        <div class="container mb-5 text-center">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Trabajador</th>
                        <th>Total de Horas</th>
                    </tr>
                </thead>
                <tbody id="summary-rows">
                    {{range $summary := .WeeklySummaries}}
                    <tr class="summary-row" data-worker-name="{{ $summary.WorkerName }}">
                        <td>{{ $summary.WorkerName }}</td>
                        <td class="summary-hours">{{ $summary.TotalHours }}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializar Select2 para el selector de tiendas
            $('#filter-select').select2({
                placeholder: "Filtrar por Tienda"
            });
    
            const cellColors = JSON.parse(`{{ .CellColors }}`);
            Object.keys(cellColors).forEach(key => {
                const [workerID, interval, dayIndex] = key.split('-');
                const color = cellColors[key];
                const cell = document.querySelector(`td[data-worker-id="${workerID}"][data-interval="${interval}"][data-day-index="${dayIndex}"]`);
                if (cell) {
                    cell.style.backgroundColor = color;
                    const className = getClassNameFromColor(color);
                    if (className) {
                        cell.classList.add(className);
                    }
                }
            });
    
            const workerTotals = JSON.parse(`{{ .WorkerTotals }}`);
            Object.keys(workerTotals).forEach(workerID => {
                Object.keys(workerTotals[workerID]).forEach(dayIndex => {
                    const total = workerTotals[workerID][dayIndex];
                    const totalCell = document.querySelector(`td.total-cell[data-worker-id="${workerID}"][data-day-index="${dayIndex}"]`);
                    if (totalCell) {
                        totalCell.textContent = total;
                    }
                });
            });
    
            updateAllTotals();
            highlightSummaryHours();
    
            const cells = document.querySelectorAll('td.editable-cell');
            cells.forEach(cell => {
                cell.addEventListener('mousedown', startSelecting);
                cell.addEventListener('mouseover', selectCell);
            });
    
            document.addEventListener('mouseup', stopSelecting);
            document.querySelector('#save-button').addEventListener('click', saveColors);
            
            // Ordenar los trabajadores por tienda al cargar la página
            sortWorkers();
        });
    
        let selectedCells = [];
        let isSelecting = false;
    
        function startSelecting(event) {
            isSelecting = true;
            selectCell(event);
        }
    
        function stopSelecting() {
            isSelecting = false;
        }
    
        function selectCell(event) {
            if (isSelecting) {
                const cell = event.target;
                if (cell.classList.contains('editable-cell')) {
                    if (!selectedCells.includes(cell)) {
                        selectedCells.push(cell);
                        cell.classList.add('selected');
                    } else {
                        const index = selectedCells.indexOf(cell);
                        if (index > -1) {
                            selectedCells.splice(index, 1);
                            cell.classList.remove('selected');
                        }
                    }
                }
            }
        }
    
        function changeColor(color, className) {
            selectedCells.forEach(cell => {
                cell.style.backgroundColor = color;
                cell.classList.remove('selected', 'btn-barcelona', 'btn-lugo', 'btn-real', 'btn-finisterre', 'btn-caminos', 'btn-oza', 'btn-mallos', 'btn-canarias', 'btn-juanflo', 'btn-sanandres');
                if (className) {
                    cell.classList.add(className);
                }
            });
    
            updateAllTotals();
            selectedCells = [];
            saveColors(); // Guardar cambios automáticamente después de cambiar el color
            filterWorkers(); // Reaplicar el filtro de tienda después de cambiar el color
        }
    
        function updateTotal(row) {
            const cells = row.querySelectorAll('td.editable-cell');
            let total = 0;
            cells.forEach(cell => {
                const color = cell.style.backgroundColor;
                if (color !== 'rgb(255, 255, 255)' && color !== '') {
                    if (color !== 'rgb(60, 60, 60)') {
                        total += 0.5;
                    }
                }
            });
            const totalCell = row.querySelector('td.total-cell');
            totalCell.textContent = total;
        }
    
        function updateAllTotals() {
            const rows = document.querySelectorAll('table tbody tr.worker-row');
            rows.forEach(row => updateTotal(row));
            updateSummaryTable(); // Actualiza la tabla resumen después de actualizar todos los totales
        }
    
        function highlightSummaryHours() {
            document.querySelectorAll('td.summary-hours').forEach(cell => {
                const hours = parseFloat(cell.textContent) || 0;
                if (hours > 40) {
                    cell.classList.add('highlight-red');
                    cell.classList.remove('highlight-green');
                } else {
                    cell.classList.add('highlight-green');
                    cell.classList.remove('highlight-red');
                }
            });
        }
    
        function saveColors() {
            const colors = {};
            const totals = {};
    
            document.querySelectorAll('td.editable-cell').forEach(cell => {
                const workerID = cell.getAttribute('data-worker-id');
                const interval = cell.getAttribute('data-interval');
                const dayIndex = cell.getAttribute('data-day-index');
                const color = cell.style.backgroundColor;
                colors[`${workerID}-${interval}-${dayIndex}`] = color;
            });
    
            document.querySelectorAll('td.total-cell').forEach(cell => {
                const workerID = cell.getAttribute('data-worker-id');
                const dayIndex = cell.getAttribute('data-day-index');
                const total = parseFloat(cell.textContent) || 0;
                if (!totals[workerID]) {
                    totals[workerID] = {};
                }
                totals[workerID][dayIndex] = total;
            });
    
            fetch(`/admin/calendar/{{ .Week.WeekID }}/save`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ colors, totals })
            }).then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    highlightSummaryHours(); // Actualiza la tabla de resumen sin recargar la página
                } else {
                    alert('Error al guardar los cambios');
                }
            });
        }
    
        function getClassNameFromColor(color) {
            switch (color) {
                case 'rgb(213, 64, 64)': return 'btn-barcelona';
                case 'rgb(34, 139, 34)': return 'btn-lugo';
                case 'rgb(64, 64, 191)': return 'btn-real';
                case 'rgb(210, 105, 30)': return 'btn-finisterre';
                case 'rgb(0, 191, 255)': return 'btn-oza';
                case 'rgb(255, 215, 0)': return 'btn-caminos';
                case 'rgb(70, 130, 180)': return 'btn-mallos';
                case 'rgb(148, 0, 211)': return 'btn-canarias';
                case 'rgb(60, 179, 113)': return 'btn-juanflo';
                case 'rgb(139, 69, 139)': return 'btn-sanandres';
                case 'rgb(60, 60, 60)': return 'btn-libre';
                case 'rgb(248, 249, 250)': return 'btn-blanco';
                default: return null;
            }
        }

    
        function sortWorkers() {
            const tableBodies = document.querySelectorAll('table tbody');
            tableBodies.forEach(tbody => {
                const rows = Array.from(tbody.querySelectorAll('tr'));
                rows.sort((a, b) => {
                    const nameA = a.getAttribute('data-worker-name').toLowerCase();
                    const nameB = b.getAttribute('data-worker-name').toLowerCase();
    
                    if (nameA < nameB) return -1;
                    if (nameA > nameB) return 1;
                    return 0;
                });
                rows.forEach(row => tbody.appendChild(row));
            });
    
            // Ordenar también la tabla resumen semanal
            const summaryRows = Array.from(document.querySelectorAll('tbody#summary-rows tr'));
            summaryRows.sort((a, b) => {
                const nameA = a.getAttribute('data-worker-name').toLowerCase();
                const nameB = b.getAttribute('data-worker-name').toLowerCase();
    
                if (nameA < nameB) return -1;
                if (nameA > nameB) return 1;
                return 0;
            });
            const summaryTbody = document.querySelector('tbody#summary-rows');
            summaryRows.forEach(row => summaryTbody.appendChild(row));
        }
    
        function filterWorkers() {
            const selectedOptions = $('#filter-select').val();
            const rows = document.querySelectorAll('tr.worker-row');
            const summaryRows = document.querySelectorAll('tbody#summary-rows tr');

            // Crear un conjunto para almacenar los nombres de los trabajadores que coinciden con el filtro
            const visibleWorkerNames = new Set();

            // Filtrar las filas de la tabla principal
            rows.forEach(row => {
                const store = row.getAttribute('data-store');
                const workerName = row.getAttribute('data-worker-name');
                if (selectedOptions.length === 0 || selectedOptions.includes(store)) {
                    row.style.display = '';
                    visibleWorkerNames.add(workerName); // Añadir el nombre del trabajador visible
                } else {
                    row.style.display = 'none';
                }
            });

    // Filtrar las filas de la tabla resumen
    summaryRows.forEach(row => {
        const workerName = row.getAttribute('data-worker-name');
        if (visibleWorkerNames.has(workerName)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
}
    
        function updateSummaryTable() {
            const summaryRows = document.querySelectorAll('tbody#summary-rows tr');
            summaryRows.forEach(row => {
                const workerName = row.getAttribute('data-worker-name');
                const workerRows = document.querySelectorAll(`tr.worker-row[data-worker-name="${workerName}"]`);
                let totalHours = 0;
                workerRows.forEach(workerRow => {
                    const totalCell = workerRow.querySelector('td.total-cell');
                    totalHours += parseFloat(totalCell.textContent) || 0;
                });
                row.querySelector('td.summary-hours').textContent = totalHours;
            });
    
            highlightSummaryHours();
        }
    
        document.getElementById('export-button').addEventListener('click', () => {
            const element = document.getElementById('export-container'); // Selecciona el contenedor que incluye los botones y la tabla
    
            // Guarda el estado original del elemento
            const originalStyle = {
                width: element.style.width,
                transform: element.style.transform
            };
    
            // Ajusta el estilo del elemento para reducir su tamaño
            element.style.transform = 'scale(0.60)'; // Reduce el tamaño al 50%
            element.style.transformOrigin = 'top left'; // Asegura que el elemento se escale desde la esquina superior izquierda
            element.style.width = '167%'; // Ajusta el ancho para que encaje correctamente en el PDF
    
            // Configura las opciones para la exportación
            const opt = {
                margin: [0.2, 0.2], // Márgenes en pulgadas
                filename: 'horarios_semana.pdf',
                image: { type: 'jpeg', quality: 0.99 },
                html2canvas: {
                    scale: 2, // Mantén la escala para la captura
                    useCORS: true // Permite el uso de imágenes externas
                },
                jsPDF: {
                    unit: 'in',
                    format: 'a4',
                    orientation: 'landscape'
                }
            };
    
            html2pdf().from(element).set(opt).toPdf().get('pdf').then(pdf => {
                // Restaurar el estilo original del elemento
                element.style.width = originalStyle.width;
                element.style.transform = originalStyle.transform;
    
                // Guardar el PDF
                pdf.save(opt.filename);
            });
        });
    </script>
</body>
</html>
