<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios - Semana {{ .Week.WeekID }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .table-sm td, .table-sm th {
            padding: 0.3rem;
        }
        table {
            font-size: 0.9rem;
        }
        .cell, .editable-cell {
            background-color: white; /* Color inicial de las celdas */
        }
        .selected { background-color: rgb(190, 190, 190) !important; }
        .btn-red { background-color: #ffcccc; color: black; } /* Pastel red */
        .btn-green { background-color: #ccffcc; color: black; } /* Pastel green */
        .btn-blue { background-color: #ccccff; color: black; } /* Pastel blue */
        .btn-orange { background-color: #ffd9b3; color: black; } /* Pastel orange */
        .btn-pink { background-color: #ffdfbf; color: black; } /* Pastel pink */
        .btn-yellow { background-color: #ffffcc; color: black; } /* Pastel yellow */
        .btn-purple { background-color: rgb(230, 204, 255); color: black; } /* Pastel purple */
        .btn-light { background-color: #f8f9fa; color: black; } /* Light color for 'Nada' button */
        .btn-primary { margin-left: 0.5rem; }
        .center-table { margin: 0 auto; width: 50%; }
        .highlight-red { background-color: #ffcccc !important; } /* Rojo pastel */
        .highlight-green { background-color: #ccffcc !important; } /* Verde pastel */
    </style>
</head>
<body class="bg-light">
    <div class="d-flex container-fluid mt-5 justify-content-between align-items-center">
        <h1 class="my-4">Semana del {{ .Week.Start }}</h1>
        <a href="/admin" class="btn btn-secondary text-white px-3">Volver</a>
    </div>
    <div class="container-fluid mt-5">
        <!-- Botones para seleccionar colores -->
        <div class="d-flex justify-content-between mb-4">
            <button class="btn btn-red" onclick="changeColor('rgb(255, 204, 204)', 'btn-red')">Calle Barcelona</button>
            <button class="btn btn-green" onclick="changeColor('rgb(204, 255, 204)', 'btn-green')">Plaza de Lugo</button>
            <button class="btn btn-blue" onclick="changeColor('rgb(204, 204, 255)', 'btn-blue')">Calle Real</button>
            <button class="btn btn-orange" onclick="changeColor('rgb(255, 217, 179)', 'btn-orange')">Av. Finisterre</button>
            <button class="btn btn-pink" onclick="changeColor('rgb(255, 223, 191)', 'btn-pink')">Cuatro Caminos</button>
            <button class="btn btn-yellow" onclick="changeColor('rgb(255, 255, 204)', 'btn-yellow')">Av. de Oza</button>
            <button class="btn btn-purple" onclick="changeColor('rgb(230, 204, 255)', 'btn-purple')">Día Libre</button>
            <button class="btn btn-light" onclick="changeColor('rgb(255, 255, 255)', 'btn-light')">Nada</button>
            <select id="filter-select" class="form-control" style="width: auto;" multiple="multiple" onchange="filterWorkers()">
                {{range .Stores}}
                <option value="{{ . }}">{{ . }}</option>
                {{end}}
            </select>
            <button id="export-button" class="btn btn-primary">Exportar a PDF</button>

        </div>
        <div class="table-container">
            {{range $dayIndex, $day := .Days}}
            <h2 class="text-center mt-5">{{ $day }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Trabajador</th>
                            {{range $.Intervals}}
                            <th>{{ . }}</th>
                            {{end}}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="worker-rows">
                        {{range $worker := $.Workers}}
                        <tr class="worker-row" data-store="{{ $worker.Store }}" data-worker-name="{{ $worker.Name }}">
                            <td>{{ $worker.Name }}</td>
                            {{range $interval := $.Intervals}}
                            <td class="editable-cell"
                                data-worker-id="{{ $worker.ID }}"
                                data-interval="{{ $interval }}"
                                data-day-index="{{ $dayIndex }}">
                            </td>
                            {{end}}
                            <td class="total-cell" data-worker-id="{{ $worker.ID }}" data-day-index="{{ $dayIndex }}"></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{end}}
        </div>
        <!-- Tabla resumen -->
        <h2 class="text-center mt-5">Resumen Semanal</h2>
        <div class="container mb-5 text-center">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Trabajador</th>
                        <th>Total de Horas</th>
                    </tr>
                </thead>
                <tbody id="summary-rows">
                    {{range $summary := .WeeklySummaries}}
                    <tr class="summary-row" data-worker-name="{{ $summary.WorkerName }}">
                        <td>{{ $summary.WorkerName }}</td>
                        <td class="summary-hours">{{ $summary.TotalHours }}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializar Select2 para el selector de tiendas
            $('#filter-select').select2({
                placeholder: "Filtrar por Tienda"
            });

            const cellColors = JSON.parse(`{{ .CellColors }}`);
            Object.keys(cellColors).forEach(key => {
                const [workerID, interval, dayIndex] = key.split('-');
                const color = cellColors[key];
                const cell = document.querySelector(`td[data-worker-id="${workerID}"][data-interval="${interval}"][data-day-index="${dayIndex}"]`);
                if (cell) {
                    cell.style.backgroundColor = color;
                    const className = getClassNameFromColor(color);
                    if (className) {
                        cell.classList.add(className);
                    }
                }
            });

            const workerTotals = JSON.parse(`{{ .WorkerTotals }}`);
            Object.keys(workerTotals).forEach(workerID => {
                Object.keys(workerTotals[workerID]).forEach(dayIndex => {
                    const total = workerTotals[workerID][dayIndex];
                    const totalCell = document.querySelector(`td.total-cell[data-worker-id="${workerID}"][data-day-index="${dayIndex}"]`);
                    if (totalCell) {
                        totalCell.textContent = total;
                    }
                });
            });

            updateAllTotals();
            highlightSummaryHours();

            const cells = document.querySelectorAll('td.editable-cell');
            cells.forEach(cell => {
                cell.addEventListener('mousedown', startSelecting);
                cell.addEventListener('mouseover', selectCell);
            });

            document.addEventListener('mouseup', stopSelecting);
            document.querySelector('#save-button').addEventListener('click', saveColors);
            
            // Ordenar los trabajadores por tienda al cargar la página
            sortWorkers();
        });

        let selectedCells = [];
        let isSelecting = false;

        function startSelecting(event) {
            isSelecting = true;
            selectCell(event);
        }

        function stopSelecting() {
            isSelecting = false;
        }

        function selectCell(event) {
            if (isSelecting) {
                const cell = event.target;
                if (cell.classList.contains('editable-cell')) {
                    if (!selectedCells.includes(cell)) {
                        selectedCells.push(cell);
                        cell.classList.add('selected');
                    } else {
                        const index = selectedCells.indexOf(cell);
                        if (index > -1) {
                            selectedCells.splice(index, 1);
                            cell.classList.remove('selected');
                        }
                    }
                }
            }
        }

        function changeColor(color, className) {
            selectedCells.forEach(cell => {
                cell.style.backgroundColor = color;
                cell.classList.remove('selected', 'btn-red', 'btn-green', 'btn-blue', 'btn-orange', 'btn-pink', 'btn-yellow', 'btn-purple', 'btn-light');
                if (className) {
                    cell.classList.add(className);
                }
            });

            updateAllTotals();
            selectedCells = [];
            saveColors(); // Guardar cambios automáticamente después de cambiar el color
        }

        function updateTotal(row) {
            const cells = row.querySelectorAll('td.editable-cell');
            let total = 0;
            cells.forEach(cell => {
                const color = cell.style.backgroundColor;
                if (color !== 'rgb(255, 255, 255)' && color !== '') {
                    if (color !== 'rgb(230, 204, 255)') {
                        total += 0.5;
                    }
                }
            });
            const totalCell = row.querySelector('td.total-cell');
            totalCell.textContent = total;
        }

        function updateAllTotals() {
            const rows = document.querySelectorAll('table tbody tr.worker-row');
            rows.forEach(row => updateTotal(row));
        }

        function highlightSummaryHours() {
            document.querySelectorAll('td.summary-hours').forEach(cell => {
                const hours = parseFloat(cell.textContent) || 0;
                if (hours > 40) {
                    cell.classList.add('highlight-red');
                    cell.classList.remove('highlight-green');
                } else {
                    cell.classList.add('highlight-green');
                    cell.classList.remove('highlight-red');
                }
            });
        }

        function saveColors() {
            const colors = {};
            const totals = {};

            document.querySelectorAll('td.editable-cell').forEach(cell => {
                const workerID = cell.getAttribute('data-worker-id');
                const interval = cell.getAttribute('data-interval');
                const dayIndex = cell.getAttribute('data-day-index');
                const color = cell.style.backgroundColor;
                colors[`${workerID}-${interval}-${dayIndex}`] = color;
            });

            document.querySelectorAll('td.total-cell').forEach(cell => {
                const workerID = cell.getAttribute('data-worker-id');
                const dayIndex = cell.getAttribute('data-day-index');
                const total = parseFloat(cell.textContent) || 0;
                if (!totals[workerID]) {
                    totals[workerID] = {};
                }
                totals[workerID][dayIndex] = total;
            });

            fetch(`/admin/horarios/{{ .Week.WeekID }}/save`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ colors, totals })
            }).then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload(); // Recargar la página
                    highlightSummaryHours();
                } else {
                    alert('Error al guardar los cambios');
                }
            });
        }

        function getClassNameFromColor(color) {
            switch (color) {
                case 'rgb(255, 204, 204)': return 'btn-red';
                case 'rgb(204, 255, 204)': return 'btn-green';
                case 'rgb(204, 204, 255)': return 'btn-blue';
                case 'rgb(255, 217, 179)': return 'btn-orange';
                case 'rgb(255, 223, 191)': return 'btn-pink';
                case 'rgb(255, 255, 204)': return 'btn-yellow';
                case 'rgb(230, 204, 255)': return 'btn-purple';
                case 'rgb(255, 255, 255)': return 'btn-light';
                default: return null;
            }
        }

        function sortWorkers() {
            const tableBodies = document.querySelectorAll('table tbody');
            tableBodies.forEach(tbody => {
                const rows = Array.from(tbody.querySelectorAll('tr'));
                rows.sort((a, b) => {
                    const nameA = a.getAttribute('data-worker-name').toLowerCase();
                    const nameB = b.getAttribute('data-worker-name').toLowerCase();

                    if (nameA < nameB) return -1;
                    if (nameA > nameB) return 1;
                    return 0;
                });
                rows.forEach(row => tbody.appendChild(row));
            });

            // Ordenar también la tabla resumen semanal
            const summaryRows = Array.from(document.querySelectorAll('tbody#summary-rows tr'));
            summaryRows.sort((a, b) => {
                const nameA = a.getAttribute('data-worker-name').toLowerCase();
                const nameB = b.getAttribute('data-worker-name').toLowerCase();

                if (nameA < nameB) return -1;
                if (nameA > nameB) return 1;
                return 0;
            });
            const summaryTbody = document.querySelector('tbody#summary-rows');
            summaryRows.forEach(row => summaryTbody.appendChild(row));
        }

        function filterWorkers() {
            const selectedOptions = $('#filter-select').val();
            const rows = document.querySelectorAll('tr.worker-row');
            rows.forEach(row => {
                const store = row.getAttribute('data-store');
                if (selectedOptions.length === 0 || selectedOptions.includes(store)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
        document.getElementById('export-button').addEventListener('click', () => {
        const element = document.querySelector('.table-container'); // Selecciona la parte de la página que contiene las tablas

        // Guarda el estado original del elemento
        const originalStyle = {
            width: element.style.width,
            transform: element.style.transform
        };

        // Ajusta el estilo del elemento para reducir su tamaño
        element.style.transform = 'scale(0.65)'; // Reduce el tamaño al 75%
        element.style.transformOrigin = 'top left'; // Asegura que el elemento se escale desde la esquina superior izquierda
        element.style.width = '150.33%'; // Ajusta el ancho para que encaje correctamente en el PDF

        // Configura las opciones para la exportación
        const opt = {
            margin: [0.2, 0.2], // Márgenes en pulgadas
            filename: 'horarios_semana.pdf',
            image: { type: 'jpeg', quality: 0.99 },
            html2canvas: {
                scale: 2, // Mantén la escala para la captura
                useCORS: true // Permite el uso de imágenes externas
            },
            jsPDF: {
                unit: 'in',
                format: 'a4',
                orientation: 'landscape'
            }
        };

        html2pdf().from(element).set(opt).toPdf().get('pdf').then(pdf => {
            // Restaurar el estilo original del elemento
            element.style.width = originalStyle.width;
            element.style.transform = originalStyle.transform;

            // Guardar el PDF
            pdf.save(opt.filename);
        });
    });
    </script>
</body>
</html>
